@model Studio

@{
    ViewData["Title"] = "Add a new Studio";
}
<div class="row-text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Update Studio </h1>
        </p>
        <hr/>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div col-md-4>
                        <div class="form-group">
                            <label asp-for="StudioName">Studio Name</label>
                            <input asp-for="StudioName" class="form-control"/>
                            <span asp-validation-for="StudioName" class="text-danger"></span>
                        </div>

                    </div>
                    <hr/>
                    <div class="form-group">
                        <div class="col-4">
                            <input type="submit" value="Update" class="btn btn-outline-success float-right"/>
                            <a class="btn btn-outline-secondary" asp-action="Index"> Show All</a>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>