@model LoanType

@{
    ViewData["Title"] = "Add a new Loan Type";
}
<div class="row-text">
    <div class="col-md-8 offset-2">
        <p>
            <h2>Add New Loan Type</h2>
        </p>
        <hr/>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div col-md-4>
                        <div class="form-group">
                            <label asp-for="LoanTypes">Loan Type</label>
                            <input asp-for="LoanTypes" class="form-control"/>
                            <span asp-validation-for="LoanTypes" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label asp-for="LoanDurantion">Duration</label>
                        <input asp-for="LoanDurantion" type="number" class="form-control">
                        <span asp-validation-for="LoanDurantion" class="text-danger"></span>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <div class="col-4">
                            <input type="submit" value="Create" class="btn btn-outline-success float-right"/>
                            <a class="btn btn-outline-secondary" asp-action="Index"> Show All</a>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>