@model GroupCoursework.Models.DvdTitle


@{
    ViewData["Title"] = "Create";
}
<h2>Add New DVD</h2>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="hidden" asp-for="Id">
                <label asp-for="DateReleased" class="control-label"></label>
                <input asp-for="DateReleased" type="date" class="form-control"/>
                <span asp-validation-for="DateReleased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StandardCharge" class="control-label"></label>
                <input asp-for="StandardCharge" class="form-control"/>
                <span asp-validation-for="StandardCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PenaltyCharge" class="control-label"></label>
                <input asp-for="PenaltyCharge" class="form-control"/>
                <span asp-validation-for="PenaltyCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Producer Name</label>
                <select asp-for="ProducerNumber" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfProducer, "Id", "ProducerName"))"></select>
                <span asp-validation-for="ProducerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Category Name</label>
                <select asp-for="CategoryNumber" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfDvdCategories, "Id", "DvdCategoryName"))"></select>
            </div>
            <div class="form-group">
                <label>Studio Name</label>
                <select asp-for="StudioNumber" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfStudio, "Id", "StudioName"))"></select>
            </div>
            <hr/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
                <a asp-action="Index" class="btn btn-info">Dvd Title List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}