@model UserRegisterModel

@{
    ViewData["Title"] = "RegisterAdmin";
}
<h3>Register New User</h3>
<hr/>
<div class="row">
    <div class="col-md-3">
        <img src="images/Register.png" ID="Image1" runat="server" alt="Register"/>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
        <form asp-action="RegisterAdmin">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" type="email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
                    <a class="btn btn-info" asp-action="Login">Back To Login</a>
            </div>
        </form>
    </div>
</div>








@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
