@model DvdCategory

@{
    ViewData["Title"] = "Add a new Dvd Category";
}
<div class="row-text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add Dvd Category</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div col-md-4>
                        <div class="form-group">
                            <label asp-for="CategoryDescription">Category Description</label>
                            <input asp-for="CategoryDescription" class="form-control"/>
                            <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label asp-for="AgeRestricted">Age Restricted</label>
                        <input rows="3" asp-for="AgeRestricted" class="form-control">
                        <span asp-validation-for="AgeRestricted" class="text-danger"></span>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <div class="col-4">
                            <input type="submit" value="Create" class="btn btn-outline-success float-right"/>
                            <a class="btn btn-outline-secondary" asp-action="Index"> Show All</a>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>