@*Define model*@
@model List<DvdCategory>
@*Define ViewData*@
@{
    ViewData["Title"] = "List of Dvd Category";
}
@*Write code*@


<table class="table table-hover">
    <thead>
    <tr>
        <th>S.No</th>
        <th>Category Description</th>
        <th>Age Restricted</th>
    </tr>
            
    </thead> 
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>1</td>
            <td>@Html.DisplayFor(modelItem=> item.CategoryDescription) </td>
            <td>@Html.DisplayFor(modelItem=> item.AgeRestricted) </td>
            <td>
                <a class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Edit</a> |
                <a class="btn btn-outline-danger"><i class="bi bi-trash"></i>Delete</a>
            </td>
        </tr>
    }

    </tbody>
</table>