@model Producer

@{
    ViewData["Title"] = "delete Produce";

}
<div class="row-text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete Confiramation for @Model.ProducerName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
               
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div col-md-4>
                    <div class="form-group">
                        <label asp-for="ProducerName">Total Loan</label>
                        <input asp-for="ProducerName" readonly class="form-control"/>
                        <span asp-validation-for="ProducerName"  class="text-danger"></span>
                    </div>

                </div>
               
                <hr/>
                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                    </form>
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>
                

             


            </div>
        </div>
    </div>
</div>