
@model GroupCoursework.ViewModel.RegisterVM;

@{ 
    ViewData["Title"] = "Sign up for a new account";
}
<div class="row">
      @if(TempData["Error"] != null)
                 {
                     <div class="col-md-12 alert alert-danger">
                         <span><b>Sorry!</b> - @TempData["Error"] </span>
                     </div>
                 }
    <div class="col-md-5">
    </div>
    <div class="col-md-4 mt-4">
        <div class="card text-white bg-info mb-3 text-center" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title">Sign Up</h2>
                <br/>
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                    <div class="form-group">
                        <input placeholder="Full Name" asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <br/>
                    <div class="form-group">
                        <input placeholder="Email" asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <br/>
                    <div class="form-group">
                        <input placeholder="Password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <br/>
                    <div class="form-group">
                        <input placeholder="Confirm Password" asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <br/>
                
                    <div class="form-group">
                        <input class="btn btn-warning float-right" type="submit" value="Sign up" />
                    </div>
                </form>
                
                
                <br/>
                <p>Already have an account?
                    <a asp-controller="Account" asp-action="Login">Login</a></p>
            </div>
        </div>
    </div>
</div>
