@model GroupCoursework.Models.Loan

@{
    ViewData["Title"] = "Create";
}

<h1>Update Loan</h1>
<hr/>
<div class="row">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="hidden" asp-for="Id">
                <label asp-for="DateOut" class="control-label"></label>
                <input asp-for="DateOut" type="date" class="form-control"/>
                <span asp-validation-for="DateOut" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DateDue" class="control-label"></label>
                <input asp-for="DateDue" type="date" class="form-control"/>
                <span asp-validation-for="DateDue" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DateReturned" class="control-label"></label>
                <input asp-for="DateReturned" type="date" class="form-control"/>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Loan Type</label>
                <select asp-for="LoanTypeNumber" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfLoanType, "Id", "LoanTypes"))"></select>
            </div>

        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Dvd Copy</label>
                <select asp-for="CopyNumber" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfDvdCopy, "Id", "Id"))"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Member</label>
                <select asp-for="MemberNumber" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfMembers, "Id", "MemberLastName"))"></select>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary"/>
            <a asp-action="Index" class="btn btn-danger">Loan List</a>
        </div>
    </form>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}